<a href="https://colab.research.google.com/github/Aitkenabrahamtom/buisness-analytics-with-python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.read_csv("Supermarket_sales.csv")

In [2]:
df.head()

,No,InvoiceID,Branch,City,Customertype,Gender,Productline,Unitprice,Quantity,Tax,Total,Date,Time,Payment,cogs,gross_margin_percentage,gross_iincome,Rating
0,1,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,2,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,3,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,4,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,5,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
df.Unitprice.max()

99.96

In [5]:
df.Unitprice.min()

10.08

In [6]:
df.Unitprice.mean()

55.67213

In [8]:
df.Quantity.max()

10

In [9]:
df.Quantity.min()

1

In [11]:
df.Quantity.mean()

5.51

In [15]:
df.groupby('Productline').Quantity.min()

Productline
Electronic accessories    1
Fashion accessories       1
Food and beverages        1
Health and beauty         1
Home and lifestyle        1
Sports and travel         1
Name: Quantity, dtype: int64

In [16]:
df.groupby('Productline').Quantity.max()

Productline
Electronic accessories    10
Fashion accessories       10
Food and beverages        10
Health and beauty         10
Home and lifestyle        10
Sports and travel         10
Name: Quantity, dtype: int64

In [17]:
df.groupby('Productline').Quantity.mean()

Productline
Electronic accessories    5.711765
Fashion accessories       5.067416
Food and beverages        5.471264
Health and beauty         5.618421
Home and lifestyle        5.693750
Sports and travel         5.542169
Name: Quantity, dtype: float64

In [18]:
df.loc[df['Productline']=="Health and beauty"].Quantity.max()

10

In [19]:
df.loc[df['Productline']=="Health and beauty"].Quantity.min()

1

In [20]:
df.loc[df['Productline']=="Health and beauty"].Quantity.mean()

5.618421052631579