In [2]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))

enter the first number 63
enter the second number56

In [3]:
x+y

119

In [4]:
x-y

7

In [5]:
x/y

1.125

In [6]:
x*y

3528

In [7]:
p=600
n=900
r=4000

In [8]:
i=p*n*r

In [9]:
print(i)

2160000000

In [10]:
p=int(input("enter the first number"))
n=int(input("enter the second number"))
r=int(input("enter the third number"))

enter the first number400
enter the second number700
enter the third number69

In [12]:
i=p*n*r

In [13]:
print(I)

NameError: ignored

In [14]:
print(i)

19320000

In [15]:
x=int(input("enter your mark"))

enter your mark69

In [16]:
if x > 50 :
  print ("you are pass")
if x<50 :
  print ("you are fail")

you are pass

In [31]:
x=int(input("enter the salary"))

enter the salary300000

In [33]:
if x>200000 :
  print("you are taxable")
  t=print('tax amount',x*10/100)
if x<200000 :
  print("you are not taxable")

you are taxable
tax amount 30000.0

In [35]:
x=int(input("enter the salary"))
z=250000
if x>=250000:
   print("you are taxable")
   t=print('tax amt',(x-z)*10/100)
if x<250000:
   print("you are not taxable")

enter the salary300000
you are taxable
tax amt 5000.0